<!-- - refer : DDL, DML, ERD -->
<!-- - callDao(/q/r/board/callDao) in QuestBoardController, QuestBoardService -->
<!-- - CRUD 작성 : board와 comments 적용 -->
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BOARDS">
	<select id="selectBysearch" parameterType="Map" resultType="Map">
        SELECT *
        FROM BOARDS;
	</select>

	<!-- 입력 -->
	<insert id="insert" parameterType="Map">
        (`PK_BOARDS`, `TITLE`, `CONTENTS`, `WRITER_ID`, `CREATE_DATE`, `PARENT_BOARDS`)
        VALUES
        (#{PK_BOARDS}, #{TITLE}, #{CONTENTS}, #{WRITER_ID}, #{CREATE_DATE}, #{PARENT_BOARDS});
    </insert>

	<!-- 수정 -->
	<update id="update" parameterType="Map">
		update BOARDS
		SET	WRITER_ID = #{WRITER_ID}
		WHERE 1 = 1
		AND PK_BOARDS = #{PK_BOARDS};
    </update>

	<!-- 삭제 -->
	<delete id="delete" parameterType="Map">
		DELETE FROM BOARDS
		WHERE 1 = 1
		AND PK_BOARDS = #{PK_BOARDS};
    </delete>
</mapper>